SHOPS/memstech/n8n/api_parse_all.json
{
  "name": "MemsTech - Parse All (Multi-City)",
  "nodes": [
    {"parameters": {"httpMethod": "POST", "path": "memstech/parse/all", "responseMode": "responseNode", "options": {}}, "id": "webhook", "name": "POST /parse/all", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 300], "webhookId": "memstech-parse-all", "notes": "POST body:\n{\n  \"city\": \"msk\",\n  \"category\": \"iphone\",\n  \"max_pages\": 50,\n  \"use_proxy\": true,\n  \"save_to_db\": true\n}"},
    {"parameters": {"jsCode": "const body = $input.first().json.body || {};\n\nconst CITIES = {\n  'msk': { subdomain: 'memstech.ru', name: 'Москва', id: 4 },\n  'ekb': { subdomain: 'ekb.memstech.ru', name: 'Екатеринбург', id: 1 },\n  'spb': { subdomain: 'spb.memstech.ru', name: 'Санкт-Петербург', id: 2 },\n  'nsk': { subdomain: 'nsk.memstech.ru', name: 'Новосибирск', id: 3 },\n  'krd': { subdomain: 'krd.memstech.ru', name: 'Краснодар', id: 5 },\n  'kzn': { subdomain: 'kzn.memstech.ru', name: 'Казань', id: 6 },\n  'nnov': { subdomain: 'nnov.memstech.ru', name: 'Нижний Новгород', id: 7 },\n  'sam': { subdomain: 'sam.memstech.ru', name: 'Самара', id: 8 },\n  'rnd': { subdomain: 'rnd.memstech.ru', name: 'Ростов-на-Дону', id: 9 },\n  'che': { subdomain: 'che.memstech.ru', name: 'Челябинск', id: 10 }\n};\n\nconst CATEGORIES = {\n  'iphone': 'iPhone',\n  'android': 'Android',\n  'ipad': 'iPad',\n  'macbook': 'MacBook',\n  'watch': 'Watch',\n  'notebook': 'Ноутбуки',\n  'voltpack': 'VoltPack'\n};\n\nconst city = body.city || 'msk';\nconst category = body.category || 'iphone';\nconst cityData = CITIES[city] || CITIES.msk;\n\nreturn [{\n  json: {\n    city_code: city,\n    city_name: cityData.name,\n    city_id: cityData.id,\n    subdomain: cityData.subdomain,\n    category_slug: category,\n    category_name: CATEGORIES[category] || category,\n    max_pages: body.max_pages || 50,\n    use_proxy: body.use_proxy !== false,\n    save_to_db: body.save_to_db !== false,\n    delay_seconds: body.delay_seconds || 1\n  }\n}];"}, "id": "validate", "name": "Validate", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [220, 300]},
    {"parameters": {"method": "GET", "url": "http://proxy-manager:8000/get", "sendQuery": true, "queryParameters": {"parameters": [{"name": "type", "value": "http"}]}, "options": {"timeout": 5000}}, "id": "get-proxy", "name": "Get Proxy", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [440, 300], "continueOnFail": true},
    {"parameters": {"jsCode": "const config = $('Validate').first().json;\nconst proxyResult = $input.first().json;\n\nlet proxyUrl = null;\nlet proxyAddress = null;\nif (config.use_proxy && proxyResult?.proxy) {\n  proxyAddress = proxyResult.proxy;\n  proxyUrl = `http://${proxyResult.proxy}`;\n}\n\nreturn [{\n  json: {\n    ...config,\n    proxy_url: proxyUrl,\n    proxy_address: proxyAddress,\n    base_url: `https://${config.subdomain}`,\n    current_page: 1,\n    products: []\n  }\n}];"}, "id": "setup", "name": "Setup", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [660, 300]},
    {"parameters": {"conditions": {"conditions": [{"leftValue": "={{ $json.current_page }}", "rightValue": "={{ $json.max_pages }}", "operator": {"type": "number", "operation": "lte"}}], "combinator": "and"}}, "id": "check-continue", "name": "Continue?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [880, 300]},
    {"parameters": {"jsCode": "const state = $input.first().json;\nconst url = `${state.base_url}/catalog/${state.category_slug}/?PAGEN_1=${state.current_page}`;\nreturn [{ json: { ...state, fetch_url: url } }];"}, "id": "build-url", "name": "Build URL", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1100, 200]},
    {"parameters": {"amount": "={{ $json.delay_seconds }}", "unit": "seconds"}, "id": "wait", "name": "Wait", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [1320, 200]},
    {"parameters": {"method": "GET", "url": "={{ $json.fetch_url }}", "options": {"timeout": 30000, "proxy": "={{ $json.proxy_url }}"}, "headerParameters": {"parameters": [{"name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"}, {"name": "Accept", "value": "text/html"}]}}, "id": "fetch-page", "name": "Fetch Page", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1540, 200], "continueOnFail": true},
    {"parameters": {"jsCode": "const cheerio = require('cheerio');\nconst state = $('Wait').first().json;\nconst response = $input.first().json;\n\nif (!response.data || response.data.length < 1000) {\n  return [{ json: { ...state, current_page: state.max_pages + 1 } }];\n}\n\nconst $ = cheerio.load(response.data);\nconst newProducts = [];\n\n$('.catalog-item, .product-item').each((i, el) => {\n  try {\n    const $item = $(el);\n    const product = {};\n    \n    const link = $item.find('a.name, a[href*=\"/catalog/\"]').first();\n    if (link.length) {\n      product.name = link.text().trim();\n      product.url = state.base_url + link.attr('href');\n    }\n    \n    const skuElem = $item.find('.article, .sku');\n    product.article = skuElem.length ? skuElem.text().replace(/[^a-zA-Z0-9-]/g, '').trim() : '';\n    \n    const priceElem = $item.find('.price, .cost');\n    const priceText = priceElem.text().replace(/[^\\d]/g, '');\n    product.price = priceText ? parseInt(priceText) : 0;\n    \n    const stockElem = $item.find('.availability, .stock');\n    product.in_stock = stockElem.length > 0 && !stockElem.text().toLowerCase().includes('нет');\n    \n    product.category = state.category_name;\n    product.city = state.city_name;\n    \n    if (product.name && product.article) {\n      newProducts.push(product);\n    }\n  } catch (e) {}\n});\n\nconst hasNextPage = $('a[href*=\"PAGEN_1=\"]').length > 0;\n\nreturn [{\n  json: {\n    ...state,\n    products: [...state.products, ...newProducts],\n    current_page: hasNextPage && newProducts.length > 0 ? state.current_page + 1 : state.max_pages + 1\n  }\n}];"}, "id": "parse-page", "name": "Parse Products", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1760, 200]},
    {"parameters": {"conditions": {"conditions": [{"leftValue": "={{ $json.save_to_db }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}, {"leftValue": "={{ $json.products.length }}", "rightValue": 0, "operator": {"type": "number", "operation": "gt"}}], "combinator": "and"}}, "id": "check-save", "name": "Save?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1100, 400]},
    {"parameters": {"operation": "executeQuery", "query": "={{ `INSERT INTO outlets (code, city, name, is_active) VALUES ('memstech-${$json.city_code}', '${$json.city_name}', 'MemsTech ${$json.city_name}', true) ON CONFLICT (code) DO NOTHING;` }}", "options": {}}, "id": "ensure-outlet", "name": "Ensure Outlet", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [1320, 400], "credentials": {"postgres": {"id": "POSTGRES_CREDENTIAL_ID", "name": "PostgreSQL MemsTech"}}},
    {"parameters": {"operation": "executeQuery", "query": "={{ \n  const products = $('Check-save').first().json.products;\n  const values = products.filter(p => p.article).map(p => {\n    const name = (p.name || '').replace(/'/g, \"''\").slice(0, 500);\n    const article = (p.article || '').replace(/'/g, \"''\");\n    const category = (p.category || '').replace(/'/g, \"''\");\n    return `('${name}', '${article}', '${category}', NOW(), NOW())`;\n  }).join(',');\n  if (!values) return 'SELECT 1';\n  `INSERT INTO memstech_nomenclature (name, article, category, first_seen_at, updated_at) VALUES ${values} ON CONFLICT (article) DO UPDATE SET name = EXCLUDED.name, category = EXCLUDED.category, updated_at = NOW();`;\n}}", "options": {}}, "id": "save-nomenclature", "name": "Save Nomenclature", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [1540, 400], "credentials": {"postgres": {"id": "POSTGRES_CREDENTIAL_ID", "name": "PostgreSQL MemsTech"}}},
    {"parameters": {"operation": "executeQuery", "query": "={{ \n  const products = $('Check-save').first().json.products;\n  const city = $('Check-save').first().json.city_code;\n  const queries = products.filter(p => p.article).map(p => {\n    const article = (p.article || '').replace(/'/g, \"''\");\n    const url = (p.url || '').replace(/'/g, \"''\");\n    return `INSERT INTO memstech_prices (nomenclature_id, outlet_id, price, in_stock, product_url, updated_at) SELECT n.id, o.id, ${p.price || 0}, ${p.in_stock ? 'true' : 'false'}, '${url}', NOW() FROM memstech_nomenclature n, outlets o WHERE n.article = '${article}' AND o.code = 'memstech-${city}' ON CONFLICT (nomenclature_id, outlet_id) DO UPDATE SET price = EXCLUDED.price, in_stock = EXCLUDED.in_stock, product_url = EXCLUDED.product_url, updated_at = NOW();`;\n  }).join('');\n  queries || 'SELECT 1';\n}}", "options": {}}, "id": "save-prices", "name": "Save Prices", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [1760, 400], "credentials": {"postgres": {"id": "POSTGRES_CREDENTIAL_ID", "name": "PostgreSQL MemsTech"}}},
    {"parameters": {"jsCode": "const state = $input.first().json;\nreturn [{ json: { success: true, shop: 'memstech', city: state.city_name, category: state.category_name, products_total: state.products.length, saved_to_db: true } }];"}, "id": "summary-saved", "name": "Summary (Saved)", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1980, 400]},
    {"parameters": {"jsCode": "const state = $input.first().json;\nreturn [{ json: { success: true, shop: 'memstech', city: state.city_name, category: state.category_name, products_total: state.products.length, saved_to_db: false, products: state.products } }];"}, "id": "summary-nosave", "name": "Summary (No Save)", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1320, 600]},
    {"parameters": {"respondWith": "json", "responseBody": "={{ $('Summary (Saved)').first().json || $('Summary (No Save)').first().json }}", "options": {}}, "id": "response", "name": "Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [2200, 400]}
  ],
  "connections": {
    "POST /parse/all": {"main": [[{"node": "Validate", "type": "main", "index": 0}]]},
    "Validate": {"main": [[{"node": "Get Proxy", "type": "main", "index": 0}]]},
    "Get Proxy": {"main": [[{"node": "Setup", "type": "main", "index": 0}]]},
    "Setup": {"main": [[{"node": "Continue?", "type": "main", "index": 0}]]},
    "Continue?": {"main": [[{"node": "Build URL", "type": "main", "index": 0}], [{"node": "Save?", "type": "main", "index": 0}]]},
    "Build URL": {"main": [[{"node": "Wait", "type": "main", "index": 0}]]},
    "Wait": {"main": [[{"node": "Fetch Page", "type": "main", "index": 0}]]},
    "Fetch Page": {"main": [[{"node": "Parse Products", "type": "main", "index": 0}]]},
    "Parse Products": {"main": [[{"node": "Continue?", "type": "main", "index": 0}]]},
    "Save?": {"main": [[{"node": "Ensure Outlet", "type": "main", "index": 0}], [{"node": "Summary (No Save)", "type": "main", "index": 0}]]},
    "Ensure Outlet": {"main": [[{"node": "Save Nomenclature", "type": "main", "index": 0}]]},
    "Save Nomenclature": {"main": [[{"node": "Save Prices", "type": "main", "index": 0}]]},
    "Save Prices": {"main": [[{"node": "Summary (Saved)", "type": "main", "index": 0}]]},
    "Summary (Saved)": {"main": [[{"node": "Response", "type": "main", "index": 0}]]},
    "Summary (No Save)": {"main": [[{"node": "Response", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": ["memstech", "api", "parser", "proxy-manager"]
}
