SHOPS/Orizhka/n8n/api_check_price.json
{
  "name": "Orizhka - Check Price by Article",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orizhka/price",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "POST /price",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "orizhka-check-price",
      "notes": "POST body:\n{\n  \"article\": \"12345\",\n  \"url\": \"https://orizhka.ru/product/...\"\n}"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst article = body.article || body.sku || '';\nconst url = body.url || '';\n\nif (!article && !url) {\n  throw new Error('Article or URL is required');\n}\n\nreturn [{\n  json: { article, url }\n}];"
      },
      "id": "validate",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \n  const article = ($json.article || '').replace(/'/g, \"''\");\n  const url = ($json.url || '').replace(/'/g, \"''\");\n  \n  let where = '';\n  if (article) {\n    where = `n.article = '${article}'`;\n  } else if (url) {\n    where = `p.product_url LIKE '%${url}%'`;\n  }\n  \n  `SELECT n.article, n.name, n.category, n.brand, p.price, p.old_price, p.quantity, p.in_stock, p.product_url, p.updated_at FROM orizhka_nomenclature n JOIN orizhka_prices p ON p.nomenclature_id = n.id WHERE ${where} LIMIT 1;`\n}}",
        "options": {}
      },
      "id": "get-price",
      "name": "Get Price from DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [440, 300],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL Orizhka"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst input = $('Validate Input').first().json;\n\nif (!result || !result.article) {\n  return [{\n    json: {\n      success: false,\n      error: 'Product not found',\n      article: input.article,\n      url: input.url\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    shop: 'orizhka',\n    article: result.article,\n    name: result.name,\n    category: result.category,\n    brand: result.brand,\n    price: parseFloat(result.price) || 0,\n    old_price: parseFloat(result.old_price) || null,\n    quantity: result.quantity || 0,\n    in_stock: result.in_stock,\n    url: result.product_url,\n    updated_at: result.updated_at\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 300]
    }
  ],
  "connections": {
    "POST /price": {
      "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]]
    },
    "Validate Input": {
      "main": [[{ "node": "Get Price from DB", "type": "main", "index": 0 }]]
    },
    "Get Price from DB": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Format Response": {
      "main": [[{ "node": "Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["orizhka", "api", "price"]
}
