SHOPS/lcd-stock/n8n/api_parse_all.json
{
  "name": "LCD-Stock - Parse All (with Proxy)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lcdstock/parse/all",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "POST /parse/all",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "lcdstock-parse-all",
      "notes": "POST body:\n{\n  \"category\": \"displei\",\n  \"outlet\": \"savelovskiy\",\n  \"max_pages\": 50,\n  \"use_proxy\": true,\n  \"save_to_db\": true\n}"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\n\n// Categories\nconst CATEGORIES = {\n  'displei': 'Дисплеи',\n  'zadnie-kryshki': 'Задние крышки',\n  'akkumulyatory': 'Аккумуляторы',\n  'aksessuary': 'Аксессуары',\n  'shlejfy-platy': 'Платы зарядки',\n  'smart-chasy': 'Смарт-часы'\n};\n\n// Outlets (5 locations in Moscow)\nconst OUTLETS = {\n  'savelovskiy': 'ТК Савеловский',\n  'sklad-savelovskiy': 'Склад Савеловский',\n  'vernadskogo': 'Проспект Вернадского',\n  'mitino': 'Митино',\n  'tekstilshiki': 'Текстильщики'\n};\n\nconst category = body.category || 'displei';\nconst outlet = body.outlet || 'savelovskiy';\n\nreturn [{\n  json: {\n    category_slug: category,\n    category_name: CATEGORIES[category] || category,\n    outlet_slug: outlet,\n    outlet_name: OUTLETS[outlet] || outlet,\n    max_pages: body.max_pages || 50,\n    use_proxy: body.use_proxy !== false,\n    save_to_db: body.save_to_db !== false,\n    delay_seconds: body.delay_seconds || 1\n  }\n}];"
      },
      "id": "validate",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://proxy-manager:8000/get",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "type", "value": "http"}
          ]
        },
        "options": {"timeout": 5000}
      },
      "id": "get-proxy",
      "name": "Get Proxy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const config = $('Validate Input').first().json;\nconst proxyResult = $input.first().json;\n\nlet proxyUrl = null;\nlet proxyAddress = null;\n\nif (config.use_proxy && proxyResult?.proxy) {\n  proxyAddress = proxyResult.proxy;\n  proxyUrl = `http://${proxyResult.proxy}`;\n}\n\nreturn [{\n  json: {\n    ...config,\n    proxy_url: proxyUrl,\n    proxy_address: proxyAddress,\n    base_url: 'https://lcd-stock.ru',\n    current_page: 1,\n    products: []\n  }\n}];"
      },
      "id": "setup",
      "name": "Setup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [{"id": "under-limit", "leftValue": "={{ $json.current_page }}", "rightValue": "={{ $json.max_pages }}", "operator": {"type": "number", "operation": "lte"}}],
          "combinator": "and"
        }
      },
      "id": "check-continue",
      "name": "Continue?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "jsCode": "const state = $input.first().json;\nconst url = `${state.base_url}/catalog/${state.category_slug}/${state.outlet_slug}/?page=${state.current_page}`;\nreturn [{ json: { ...state, fetch_url: url } }];"
      },
      "id": "build-url",
      "name": "Build URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {"amount": "={{ $json.delay_seconds }}", "unit": "seconds"},
      "id": "wait",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1320, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.fetch_url }}",
        "options": {"timeout": 30000, "proxy": "={{ $json.proxy_url }}"},
        "headerParameters": {
          "parameters": [
            {"name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"},
            {"name": "Accept", "value": "text/html"}
          ]
        }
      },
      "id": "fetch-page",
      "name": "Fetch Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const cheerio = require('cheerio');\nconst state = $('Wait').first().json;\nconst response = $input.first().json;\n\nif (!response.data || response.data.length < 1000) {\n  return [{ json: { ...state, current_page: state.max_pages + 1 } }];\n}\n\nconst $ = cheerio.load(response.data);\nconst newProducts = [];\n\n$('.product-card, .catalog-item, .item').each((i, el) => {\n  try {\n    const $item = $(el);\n    const product = {};\n    \n    const link = $item.find('a[href*=\"/product/\"]').first();\n    if (link.length) {\n      product.name = link.text().trim();\n      product.url = state.base_url + link.attr('href');\n    }\n    \n    const skuElem = $item.find('.sku, .article');\n    product.article = skuElem.length ? skuElem.text().trim() : '';\n    \n    const priceElem = $item.find('.price, .cost');\n    const priceText = priceElem.text().replace(/[^\\d]/g, '');\n    product.price = priceText ? parseInt(priceText) : 0;\n    \n    const stockElem = $item.find('.stock, .availability');\n    product.in_stock = stockElem.length > 0 && !stockElem.text().toLowerCase().includes('нет');\n    \n    product.category = state.category_name;\n    product.outlet = state.outlet_slug;\n    \n    if (product.name && product.article) {\n      newProducts.push(product);\n    }\n  } catch (e) {}\n});\n\nconst hasNextPage = $('a.next, .pagination a[rel=\"next\"]').length > 0;\n\nreturn [{\n  json: {\n    ...state,\n    products: [...state.products, ...newProducts],\n    current_page: hasNextPage && newProducts.length > 0 ? state.current_page + 1 : state.max_pages + 1\n  }\n}];"
      },
      "id": "parse-page",
      "name": "Parse Products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true},
          "conditions": [
            {"id": "save-db", "leftValue": "={{ $json.save_to_db }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}},
            {"id": "has-products", "leftValue": "={{ $json.products.length }}", "rightValue": 0, "operator": {"type": "number", "operation": "gt"}}
          ],
          "combinator": "and"
        }
      },
      "id": "check-save",
      "name": "Save to DB?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ `INSERT INTO zip_outlets (code, city, name, is_active) VALUES ('lcdstock-${$json.outlet_slug}', 'Москва', '${$json.outlet_name}', true) ON CONFLICT (code) DO NOTHING;` }}",
        "options": {}
      },
      "id": "ensure-outlet",
      "name": "Ensure Outlet",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1320, 400],
      "credentials": {"postgres": {"id": "POSTGRES_CREDENTIAL_ID", "name": "PostgreSQL LCD-Stock"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \n  const products = $('Check-save').first().json.products;\n  const values = products.filter(p => p.article).map(p => {\n    const name = (p.name || '').replace(/'/g, \"''\").slice(0, 500);\n    const article = (p.article || '').replace(/'/g, \"''\");\n    const category = (p.category || '').replace(/'/g, \"''\");\n    return `('${name}', '${article}', '${category}', NOW(), NOW())`;\n  }).join(',');\n  if (!values) return 'SELECT 1';\n  `INSERT INTO lcdstock_nomenclature_v2 (name, article, category, first_seen_at, updated_at) VALUES ${values} ON CONFLICT (article) DO UPDATE SET name = EXCLUDED.name, category = EXCLUDED.category, updated_at = NOW();`;\n}}",
        "options": {}
      },
      "id": "save-nomenclature",
      "name": "Save Nomenclature",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1540, 400],
      "credentials": {"postgres": {"id": "POSTGRES_CREDENTIAL_ID", "name": "PostgreSQL LCD-Stock"}}
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \n  const products = $('Check-save').first().json.products;\n  const outlet = $('Check-save').first().json.outlet_slug;\n  const queries = products.filter(p => p.article).map(p => {\n    const article = (p.article || '').replace(/'/g, \"''\");\n    const url = (p.url || '').replace(/'/g, \"''\");\n    return `INSERT INTO lcdstock_prices_v2 (nomenclature_id, outlet_id, price, in_stock, product_url, updated_at) SELECT n.id, o.id, ${p.price || 0}, ${p.in_stock ? 'true' : 'false'}, '${url}', NOW() FROM lcdstock_nomenclature_v2 n, outlets o WHERE n.article = '${article}' AND o.code = 'lcdstock-${outlet}' ON CONFLICT (nomenclature_id, outlet_id) DO UPDATE SET price = EXCLUDED.price, in_stock = EXCLUDED.in_stock, product_url = EXCLUDED.product_url, updated_at = NOW();`;\n  }).join('');\n  queries || 'SELECT 1';\n}}",
        "options": {}
      },
      "id": "save-prices",
      "name": "Save Prices",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1760, 400],
      "credentials": {"postgres": {"id": "POSTGRES_CREDENTIAL_ID", "name": "PostgreSQL LCD-Stock"}}
    },
    {
      "parameters": {
        "jsCode": "const state = $input.first().json;\nreturn [{ json: { success: true, shop: 'lcdstock', category: state.category_name, outlet: state.outlet_name, products_total: state.products.length, saved_to_db: true } }];"
      },
      "id": "summary-saved",
      "name": "Summary (Saved)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 400]
    },
    {
      "parameters": {
        "jsCode": "const state = $input.first().json;\nreturn [{ json: { success: true, shop: 'lcdstock', category: state.category_name, outlet: state.outlet_name, products_total: state.products.length, saved_to_db: false, products: state.products } }];"
      },
      "id": "summary-nosave",
      "name": "Summary (No Save)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 600]
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{ $('Summary (Saved)').first().json || $('Summary (No Save)').first().json }}", "options": {}},
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2200, 400]
    }
  ],
  "connections": {
    "POST /parse/all": {"main": [[{"node": "Validate Input", "type": "main", "index": 0}]]},
    "Validate Input": {"main": [[{"node": "Get Proxy", "type": "main", "index": 0}]]},
    "Get Proxy": {"main": [[{"node": "Setup", "type": "main", "index": 0}]]},
    "Setup": {"main": [[{"node": "Continue?", "type": "main", "index": 0}]]},
    "Continue?": {"main": [[{"node": "Build URL", "type": "main", "index": 0}], [{"node": "Save to DB?", "type": "main", "index": 0}]]},
    "Build URL": {"main": [[{"node": "Wait", "type": "main", "index": 0}]]},
    "Wait": {"main": [[{"node": "Fetch Page", "type": "main", "index": 0}]]},
    "Fetch Page": {"main": [[{"node": "Parse Products", "type": "main", "index": 0}]]},
    "Parse Products": {"main": [[{"node": "Continue?", "type": "main", "index": 0}]]},
    "Save to DB?": {"main": [[{"node": "Ensure Outlet", "type": "main", "index": 0}], [{"node": "Summary (No Save)", "type": "main", "index": 0}]]},
    "Ensure Outlet": {"main": [[{"node": "Save Nomenclature", "type": "main", "index": 0}]]},
    "Save Nomenclature": {"main": [[{"node": "Save Prices", "type": "main", "index": 0}]]},
    "Save Prices": {"main": [[{"node": "Summary (Saved)", "type": "main", "index": 0}]]},
    "Summary (Saved)": {"main": [[{"node": "Response", "type": "main", "index": 0}]]},
    "Summary (No Save)": {"main": [[{"node": "Response", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": ["lcdstock", "api", "parser", "proxy-manager"]
}
