SHOPS/Liberti/n8n/api_parse_all.json
{
  "name": "Liberti - Parse All (Excel Download)",
  "nodes": [
    {"parameters": {"httpMethod": "POST", "path": "liberti/parse/all", "responseMode": "responseNode", "options": {}}, "id": "webhook", "name": "POST /parse/all", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 300], "webhookId": "liberti-parse-all", "notes": "POST body:\n{\n  \"cities\": [\"ekaterinburg\", \"moscow\"],\n  \"save_to_db\": true\n}"},
    {"parameters": {"jsCode": "const body = $input.first().json.body || {};\n\nconst CITIES = {\n  'Internet_magazin': 'Интернет-магазин',\n  'ekaterinburg': 'Екатеринбург',\n  'moscow': 'Москва',\n  'spb': 'Санкт-Петербург',\n  'novosibirsk': 'Новосибирск',\n  'krasnodar': 'Краснодар',\n  'kazan': 'Казань',\n  'rostov': 'Ростов-на-Дону'\n};\n\nconst selectedCities = body.cities || Object.keys(CITIES);\n\nreturn selectedCities.map(city => ({\n  json: {\n    city_slug: city,\n    city_name: CITIES[city] || city,\n    save_to_db: body.save_to_db !== false,\n    base_url: 'https://liberti.ru'\n  }\n}));"}, "id": "prepare-cities", "name": "Prepare Cities", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [220, 300]},
    {"parameters": {"batchSize": 1, "options": {}}, "id": "loop-cities", "name": "Loop Cities", "type": "n8n-nodes-base.splitInBatches", "typeVersion": 3, "position": [440, 300]},
    {"parameters": {"method": "GET", "url": "={{ `${$json.base_url}/upload/price_region/liberti_${$json.city_slug}_price.xlsx` }}", "options": {"timeout": 60000, "response": {"response": {"fullResponse": false, "responseFormat": "file"}}}, "headerParameters": {"parameters": [{"name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"}]}}, "id": "download-excel", "name": "Download Excel", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [660, 300], "continueOnFail": true},
    {"parameters": {"jsCode": "const config = $('Loop Cities').first().json;\nconst fileData = $input.first().binary;\n\nif (!fileData || !fileData.data) {\n  console.log(`[${config.city_name}] No Excel file`);\n  return [{ json: { city: config.city_name, products: [], error: 'No file' } }];\n}\n\n// Parse Excel would require xlsx library - returning placeholder\nconst products = [];\n\n// Note: In real workflow, use xlsx library to parse\nconsole.log(`[${config.city_name}] Downloaded Excel, processing...`);\n\nreturn [{\n  json: {\n    city: config.city_name,\n    city_slug: config.city_slug,\n    products: products,\n    save_to_db: config.save_to_db\n  }\n}];"}, "id": "process-excel", "name": "Process Excel", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [880, 300]},
    {"parameters": {"amount": 1, "unit": "seconds"}, "id": "wait", "name": "Wait", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [1100, 300]},
    {"parameters": {"jsCode": "const items = $input.all();\nlet allProducts = [];\nlet savedToDb = false;\n\nfor (const item of items) {\n  if (item.json.products) {\n    allProducts = allProducts.concat(item.json.products.map(p => ({ ...p, city: item.json.city })));\n    savedToDb = item.json.save_to_db;\n  }\n}\n\nreturn [{ json: { products: allProducts, total: allProducts.length, save_to_db: savedToDb } }];"}, "id": "aggregate", "name": "Aggregate", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1320, 300]},
    {"parameters": {"conditions": {"conditions": [{"leftValue": "={{ $json.save_to_db }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}, {"leftValue": "={{ $json.products.length }}", "rightValue": 0, "operator": {"type": "number", "operation": "gt"}}], "combinator": "and"}}, "id": "check-save", "name": "Save?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1540, 300]},
    {"parameters": {"operation": "executeQuery", "query": "={{ \n  const products = $json.products;\n  if (!products.length) return 'SELECT 1';\n  \n  const values = products.filter(p => p.article).map(p => {\n    const name = (p.name || '').replace(/'/g, \"''\").slice(0, 500);\n    const article = (p.article || '').replace(/'/g, \"''\");\n    const category = (p.category || '').replace(/'/g, \"''\");\n    return `('${name}', '${article}', '${category}', NOW(), NOW())`;\n  }).join(',');\n  \n  `INSERT INTO liberti_nomenclature (name, article, category, first_seen_at, updated_at) VALUES ${values} ON CONFLICT (article) DO UPDATE SET name = EXCLUDED.name, category = EXCLUDED.category, updated_at = NOW();`;\n}}", "options": {}}, "id": "save-db", "name": "Save DB", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [1760, 200], "credentials": {"postgres": {"id": "POSTGRES_CREDENTIAL_ID", "name": "PostgreSQL Liberti"}}},
    {"parameters": {"jsCode": "const data = $('Aggregate').first().json;\nreturn [{ json: { success: true, shop: 'liberti', products_total: data.total, saved_to_db: true } }];"}, "id": "summary-saved", "name": "Summary (Saved)", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1980, 200]},
    {"parameters": {"jsCode": "const data = $input.first().json;\nreturn [{ json: { success: true, shop: 'liberti', products_total: data.total, saved_to_db: false, products: data.products } }];"}, "id": "summary-nosave", "name": "Summary (No Save)", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1760, 400]},
    {"parameters": {"respondWith": "json", "responseBody": "={{ $json }}", "options": {}}, "id": "response", "name": "Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [2200, 300]}
  ],
  "connections": {
    "POST /parse/all": {"main": [[{"node": "Prepare Cities", "type": "main", "index": 0}]]},
    "Prepare Cities": {"main": [[{"node": "Loop Cities", "type": "main", "index": 0}]]},
    "Loop Cities": {"main": [[{"node": "Download Excel", "type": "main", "index": 0}], [{"node": "Aggregate", "type": "main", "index": 0}]]},
    "Download Excel": {"main": [[{"node": "Process Excel", "type": "main", "index": 0}]]},
    "Process Excel": {"main": [[{"node": "Wait", "type": "main", "index": 0}]]},
    "Wait": {"main": [[{"node": "Loop Cities", "type": "main", "index": 0}]]},
    "Aggregate": {"main": [[{"node": "Save?", "type": "main", "index": 0}]]},
    "Save?": {"main": [[{"node": "Save DB", "type": "main", "index": 0}], [{"node": "Summary (No Save)", "type": "main", "index": 0}]]},
    "Save DB": {"main": [[{"node": "Summary (Saved)", "type": "main", "index": 0}]]},
    "Summary (Saved)": {"main": [[{"node": "Response", "type": "main", "index": 0}]]},
    "Summary (No Save)": {"main": [[{"node": "Response", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": ["liberti", "api", "parser", "excel"]
}
