SHOPS/Liberti/n8n/api_check_price.json
{
  "name": "Liberti - Check Price",
  "nodes": [
    {"parameters": {"httpMethod": "POST", "path": "liberti/price", "responseMode": "responseNode", "options": {}}, "id": "webhook", "name": "POST /price", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 300]},
    {"parameters": {"jsCode": "const body = $input.first().json.body || {};\nconst article = body.article || '';\nif (!article) throw new Error('Article required');\nreturn [{ json: { article } }];"}, "id": "validate", "name": "Validate", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [220, 300]},
    {"parameters": {"operation": "executeQuery", "query": "={{ `SELECT n.article, n.name, n.category, p.price, p.in_stock, o.name as city, p.updated_at FROM liberti_nomenclature n JOIN liberti_prices p ON p.nomenclature_id = n.id JOIN outlets o ON o.id = p.outlet_id WHERE n.article = '${$json.article.replace(/'/g, \"''\")}' ORDER BY p.updated_at DESC;` }}", "options": {}}, "id": "get-price", "name": "Get Price", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [440, 300], "credentials": {"postgres": {"id": "POSTGRES_CREDENTIAL_ID", "name": "PostgreSQL Liberti"}}},
    {"parameters": {"jsCode": "const results = $input.all().map(i => i.json);\nconst article = $('Validate').first().json.article;\nif (!results.length || !results[0].article) return [{ json: { success: false, error: 'Not found', article } }];\nreturn [{ json: { success: true, shop: 'liberti', article: results[0].article, name: results[0].name, category: results[0].category, prices_by_city: results.map(r => ({ city: r.city, price: parseFloat(r.price) || 0, in_stock: r.in_stock, updated_at: r.updated_at })) } }];"}, "id": "format", "name": "Format", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [660, 300]},
    {"parameters": {"respondWith": "json", "responseBody": "={{ $json }}", "options": {}}, "id": "response", "name": "Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [880, 300]}
  ],
  "connections": {
    "POST /price": {"main": [[{"node": "Validate", "type": "main", "index": 0}]]},
    "Validate": {"main": [[{"node": "Get Price", "type": "main", "index": 0}]]},
    "Get Price": {"main": [[{"node": "Format", "type": "main", "index": 0}]]},
    "Format": {"main": [[{"node": "Response", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": ["liberti", "api", "price"]
}
